{% extends 'web/base.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head" id="serice-head">
                <a href="" class="serviec-main-head-a" id="serice-head">Service Heading 1</a>
              </div>
            </div>
             <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
             <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div> 
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div><div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 pb-4">
              <div class="service-main-head">
                <a href="" class="serviec-main-head-a">Service Heading 1</a>
              </div>
            </div>
        </div>    
        <div class="row" id="subservice-list">
            
                <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
                    <div class="card">
                      <div class="icon-wrapper">
                        <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                      </div>
                      <h3 class="service-head">Service Heading</h3>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
                    <div class="card">
                      <div class="icon-wrapper">
                        <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                      </div>
                      <h3 class="service-head">Service Heading</h3>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
                    <div class="card">
                      <div class="icon-wrapper">
                        <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                      </div>
                      <h3 class="service-head">Service Heading</h3>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
                    <div class="card">
                      <div class="icon-wrapper">
                        <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                      </div>
                      <h3 class="service-head">Service Heading</h3>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
                    <div class="card">
                      <div class="icon-wrapper">
                        <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                      </div>
                      <h3 class="service-head">Service Heading</h3>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
                    <div class="card">
                      <div class="icon-wrapper">
                        <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                      </div>
                      <h3 class="service-head">Service Heading</h3>
                    </div>
                  </div>
            </div>
     
    </div>
</div>



{% endblock %}