{% extends 'web/base.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">

        <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
            <a href="{% url 'web:serviceDetails' %}">
                <div class="card">
                    <div class="icon-wrapper">
                      <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                    </div>
                    <h3 class="service-head">Service Heading</h3>
                  </div>
            </a>
        
        </div>
        <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
            <a href="{% url 'web:serviceDetails' %}">
                <div class="card">
                    <div class="icon-wrapper">
                      <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                    </div>
                    <h3 class="service-head">Service Heading</h3>
                  </div>
            </a>
        
        </div>
        <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
            <a href="{% url 'web:serviceDetails' %}">
                <div class="card">
                    <div class="icon-wrapper">
                      <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                    </div>
                    <h3 class="service-head">Service Heading</h3>
                  </div>
            </a>
        
        </div>
        <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
            <a href="{% url 'web:serviceDetails' %}">
                <div class="card">
                    <div class="icon-wrapper">
                      <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                    </div>
                    <h3 class="service-head">Service Heading</h3>
                  </div>
            </a>
        
        </div>
        <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
            <a href="{% url 'web:serviceDetails' %}">
                <div class="card">
                    <div class="icon-wrapper">
                      <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                    </div>
                    <h3 class="service-head">Service Heading</h3>
                  </div>
            </a>
        
        </div>
        <div class="col-xl-3 col-md-3 col-sm-4 col-6 text-center">
            <a href="{% url 'web:serviceDetails' %}">
                <div class="card">
                    <div class="icon-wrapper">
                      <img src="{% static 'web/img/img-2.jpg' %}" alt="" class="service-head-image">
                    </div>
                    <h3 class="service-head">Service Heading</h3>
                  </div>
            </a>
        
        </div>
      </div>
  </div>
</div>



{% endblock %}